
// Colors
// --------------------------------------------------

$color-font   : #000;
$color-link   : #000;
$color-orange : #f6aa00;


// Font
// --------------------------------------------------

$font-gothic : 'Hiragino Sans','ヒラギノ角ゴシック','Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ','Meiryo','ＭＳ Ｐゴシック',Osaka,Verdana,sans-serif;


// Media query
// --------------------------------------------------

$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);