/*--------------------------------------
  Calculator Css
--------------------------------------*/

// layout
main {
  max-width: 640px;
  padding: 10px;
}


// Sort style
.sort-box {
  width: 150px;
  border: 1px solid #ddd;
  text-align: center;
  padding: 10px;
}

.sort-btn {
  width: 150px;
  text-align: center;
  padding: 10px;
}