/*--------------------------------------
  Calculator Css
--------------------------------------*/
main {
  max-width : 640px;
  padding : 10px;
}

.sort-box {
  width : 150px;
  padding : 10px; 
  text-align : center;
  border : 1px solid #ddd;
}

.sort-btn {
  width : 150px;
  padding : 10px; 
  text-align : center;
}